<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
    <hr>
  </ion-list>

  <form class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Add New</ion-label>
      <ion-input placeholder="todo"></ion-input>
    </ion-item>
    <ion-button>
      Add
    </ion-button>
  </form>

</ion-content>
