<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <ion-label>{{ item.title }}</ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="remove(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-group>
      <h3>Add New Todo</h3>
      <form class="ion-padding" method="POST" (submit)="addTodo()">
        <ion-item>
          <input type="file" name="inputFile" (change)="chooseFile($event)" required>
        </ion-item>
    
        <ion-item>
          <ion-input required name="todo" [(ngModel)]="newTodo" placeholder="Todo title"></ion-input>
        </ion-item>
    
        <ion-button type="submit">Add</ion-button>
      </form>
    </ion-item-group>
  </ion-list>

  <form class="ion-padding" (submit)="addTodo()">
    <ion-item>
      <ion-label position="stacked">Add New</ion-label>
      <ion-input name="todo" [(ngModel)]="newTodo" placeholder="todo"></ion-input>
    </ion-item>

    <ion-button type="submit">Add</ion-button>
  </form>

</ion-content>
